# This is a basic workflow to build robot code.

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch.
on:
  push:
    branches: []
  pull_request:
    branches: []

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains one job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # This grabs the WPILib docker container
    container: wpilib/roborio-cross-ubuntu:2025-22.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        token: '${{ github.token }}'

      # Declares the repository safe and not under dubious ownership.
    - name: Add repository to git safe directories
      run: git config --global --add safe.directory $GITHUB_WORKSPACE

      # Grant execute permission for gradlew
    - name: Grant execute permission for gradlew
      run: chmod +x ./gradlew

      # Creates a Git user for committing changes
    - name: Setup Git User
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"

      # Runs a Spotless command to format code then commit any changes
    - name: Build and Commit Spotless changes
      id: build
      run: |
        ./gradlew build
        if git status --porcelain | grep -q .; then
          git add .
          git commit -m "Apply Spotless formatting" || echo "No changes to commit"
          git push origin HEAD:${{ github.ref }} || echo "No changes to push"
        else
          echo "changes=false" >> $GITHUB_OUTPUT
        fi
